.header{
    flex-direction: column;
    background-color: var(--red-color);
}
.header-content{
    /* max-height: 1330px; */
    row-gap: 6rem;
    min-height:calc(100vh- 80px);
}
.header-content-right img{
    max-width:500px;
    
}
.header-title{
    margin-bottom: 2.5rem;
}
@media screen  and (min-width:900px) {
    .header-content{
        grid-template-columns: 6fr 4fr;
        align-items: center;
        column-gap: 3rem; 
        max-height: 900px;
    }
}