.what-we-do-item{
    padding: 6rem 0;
    gap: 6rem;
}

.what-we-do-item img{
    max-width: 300px;
}

.what-we-do-item .text{
    max-width: 600px;
}
@media screen and (min-width: 992px){
    .what-we-do-item{
        grid-template-columns:repeat(2, 1fr) ;
        align-items: center;
        text-align: left;
    }
    .what-we-do-item:nth-child(odd) .what-we-do-item-left{
        order: 2;
    }
}
.image{
    min-height: 300px;
    min-width: 500px;
   
}
.image:hover{
    opacity: 0.8;
    scale: 1.1;
}